[2020-10-22 14:43] #218 closed

[2020-11-02 15:23] kvedurmu commented on #195
This has been documented in [this commit](https://github.com/cloudfoundry/docs-buildpacks/commit/f2f48398c258103f887ba463b565a6618e3a7725) and the changes will be live under the [Python Buildpack docs](https://docs.cloudfoundry.org/buildpacks/python/index.html#bosh_trusted_cert)

[2020-11-02 15:23] #195 closed

[2020-11-19 19:23] ForestEckhardt commented on #198
https://github.com/cloudfoundry/php-buildpack/issues/372

[2020-11-19 19:24] ForestEckhardt commented on #198
Closing due to inactivity. Please feel free to reopen if you have an update or more to discuss.

[2020-11-19 19:24] #198 closed

[2020-11-19 19:26] ForestEckhardt commented on #219
Closing due to inactivity. Please feel free to reopen if you have an update or more to discuss.

[2020-11-19 19:26] #219 closed

[2020-11-19 19:39] ForestEckhardt commented on #159
Closing due to inactivity. Please feel free to reopen if you have an update or more to discuss.

[2020-11-19 19:39] #159 closed

[2020-11-19 21:36] joshzarrabi commented on #185
@lgarvey Thanks for pointing this out, definitely looks like a bug. We will look into it.

[2020-11-30 22:12] sophiewigmore commented on #163
Closing this due to inactivity and the creation of #212 . @breneser feel free to re-open if there is anything else to add.

[2020-11-30 22:12] #163 closed

[2020-12-01 22:42] sophiewigmore commented on #206
Hi @praful-dhabekar!
I'm having trouble reproducing this error, would you be able to provide an app for me to try this out with so I can try to help?

In terms of the python version issue, when you run `python --version` or `python3 --version` in the app container, you do not get the app python version, but the system python version instead. There is a binary in `/tmp/lifecycle/shell` that will in

[2020-12-09 10:45] XxPKBxX opened #237 "Exited with status 137 (out of memory)"
**What version of Cloud Foundry and CF CLI are you using? (i.e. What is the output of running `cf curl /v2/info && cf version`?**
Version: cf.exe version 6.53.0+8e2b70a4a.2020-10-01
Info:
{
   "name": "IBM Cloud",
   "build": "v15.0.0",
   "support": "http://ibm.biz/bluemix-supportinfo",
   "version": 0,
   "description": "IBM Bluemix",
   "authorization_endpoint": "https://iam.cloud.ibm.com/cloud

[2020-12-10 01:12] XxPKBxX commented on #237
There was an issue on my code. Sorry!

[2020-12-10 01:12] #237 closed

[2020-12-17 11:34] chrismasonthom-co opened #239 "Option to enable shared library support"
**What version of Cloud Foundry and CF CLI are you using? (i.e. What is the output of running `cf curl /v2/info && cf version`?**
`cf.exe version 7.1.0+4c3168f9a.2020-09-09`

**What version of the buildpack you are using?**
`v1.7.26`

**If you were attempting to accomplish a task, what was it you were attempting to do?**
I'm trying to use the `reticulate` R package to bind to python (multi-buildpa

[2021-01-07 15:05] arjun024 commented on #212
Solved in cf205e2fed0334d7b6b8e6c0118bb7f61c490793. Should be available from next relesae

[2021-01-07 15:05] #212 closed

[2021-01-07 18:08] igormcsouza opened #243 "WARNING: Requirement looks like a filename, but the file does not exist"
**What version of Cloud Foundry and CF CLI are you using? (i.e. What is the output of running `cf curl /v2/info && cf version`?**
[code]

**What version of the buildpack you are using?** I'm using dicf_python_buildpack_1716_cflinuxfs3

**If you were attempting to accomplish a task, what was it you were attempting to do?** I want to push the code I have to the cloud foundry and run it as a flask re

[2021-01-07 19:22] fg-j commented on #212
Looks like the fix works for my [sample app](https://github.com/floragj/django_sample).
After updating the contents of `runtime.txt` to contain:
[code]
I can now `cf push` the app and I see the resulting output:
[code]
So it does seem like the change makes Pip able to see both desired indexes.

[2021-01-12 18:58] TYsewyn opened #245 "collectstatic is not being run when using Pipfile instead of requirements.txt"
What version of Cloud Foundry and CF CLI are you using? (i.e. What is the output of running `cf curl /v2/info && cf version`?
[code]
and
`cf version 7.2.0+be4a5ce2b.2020-12-10`

What version of the buildpack are you using?
`1.7.26`

If you were attempting to accomplish a task, what was it you were attempting to do?
`cf push` using the bare minimum `manifest.yaml` definition, using a `Pipfile` and

[2021-01-12 19:14] TYsewyn commented on #245
I just went over the script again and found out that it's not because it's being written to the `/tmp` directory.
The `requirements.txt` file is being written correctly to the build dir, but it's because of [this statement](https://github.com/cloudfoundry/python-buildpack/blob/master/src/python/supply/supply.go#L169) that it's not being picked up in the finalize stage.

[2021-01-13 15:51] arjun024 commented on #245
We'll look into this. Meanwhile could you provide a simple app we can reproduce the issue with? Something like [this](https://github.com/cloudfoundry/python-buildpack/tree/master/fixtures/django_web_app) but using Pipfile{,.lock}.

[2021-01-13 17:53] TYsewyn commented on #245
Definitely! I'll create a PR with a sample app ASAP.

[2021-01-20 09:37] dilu24x7 opened #252 "CONDA_SSL_VERIFY env not getting picked up from manifest for private conda repo"
I am trying to configure private conda repo using this link https://docs.cloudfoundry.org/buildpacks/python/index.html#private-repos-conda and i tried providing CONDA_SSL_VERIFY to cert path within ENV in manifest.yml also CONDA_SSL_VERIFY: false, but in both cases its getting ignored. I think the conda config should be set upfront considering this ENV value like;

conda config --set ssl_verify <p

[2021-01-26 06:20] Bijaya196 commented on #52
requests 2.21.0 has requirement idna<2.9,>=2.5, but you'll have idna 2.10 which is incompatible.
          django-image-cropping 1.1.0 has requirement django-appconf==1.0.1, but you'll have django-appconf 1.0.4 which is incompatible.
          Installing collected packages: appdirs, asn1crypto, soupsieve, beautifulsoup4, certifi, pycparser, cffi, chardet, urllib3, idna, requests, uritemplate, ityp

[2021-01-26 06:20] Bijaya196 commented on #52
I am getting these errors

[2021-01-26 06:21] Bijaya196 commented on #152
requests 2.21.0 has requirement idna<2.9,>=2.5, but you'll have idna 2.10 which is incompatible.
          django-image-cropping 1.1.0 has requirement django-appconf==1.0.1, but you'll have django-appconf 1.0.4 which is incompatible.
          Installing collected packages: appdirs, asn1crypto, soupsieve, beautifulsoup4, certifi, pycparser, cffi, chardet, urllib3, idna, requests, uritemplate, ityp

[2021-01-26 06:21] Bijaya196 commented on #152
could you please any one help me on this

[2021-01-26 17:42] ryanmoran commented on #152
There's not a lot in these logs to indicate what might be going on here. I can see that the build timed out after 15 minutes, which is rather surprising for a Python app. Can you provide the entirety of the log output so that we might be able to have a better idea of what's happening? It would also help if you could include an example that reproduces this error.

[2021-02-16 16:58] ForestEckhardt commented on #155
@troytop This has been added to the latest version of the python buildpack. If you need anything else please feel free to reopen this issue!

[2021-02-16 16:58] #155 closed

[2021-02-17 16:24] thitch97 commented on #252
Hi @dilu24x7, thanks for your feedback. We'd like to investigate this issue further. Would you be able to provide the log output/errors you noticed while trying to configure your app and any relevant source code so that we can attempt to reproduce the error? Please also include the versions of CF and the `python-buildpack` that you are using.

[2021-02-19 20:53] arjun024 opened #259 "No way to specify a non-default miniconda version to be used with my app"
What version of the buildpack you are using?
v1.7.30

If you were attempting to accomplish a task, what was it you were attempting to do?
Use miniconda38

What did you expect to happen?
Have a way to specify the version

What was the actual behavior?
Couldn't find a way to specify non-default version

It looks like miniconda37 and miniconda38 are packaged with the buildpack (https://github.com/clo

[2021-03-01 17:54] TYsewyn commented on #245
@arjun024 Would it be possible to look at the PR and comment/adjust where necessary to get this fix shipped with the upcoming release? Thanks!

[2021-03-03 19:10] arjun024 commented on #245
@TYsewyn Will review it in a couple of days. Thanks.

[2021-03-29 18:28] fg-j opened #283 "**Release:** python-buildpack 1.7.35"
A new version of the buildpack should be released with dependency updates.

[2021-04-01 15:13] fg-j commented on #283
The buildpack has been released.

[2021-04-01 15:13] #283 closed

[2021-04-06 20:57] sophiewigmore commented on #185
After investigating this issue, we have the following context:

The `SWIG_LIB` environment variable is in fact available at build time, with whatever is set in the `manifest.yml` file.
This issue is arising due to the Apt buildpack installing `swig` into a unique `/tmp` directory during the `supply` phase such as `/tmp/contents730267330/deps/0/bin/swig`. There is no way to know what that directory

[2021-04-07 13:48] sophiewigmore commented on #185
Based on our investigation, this would require code changes to the Python buildpack. Currently, this isn't a priority for us to fix, so I'm going to close out this issue. Please free to reopen this issue if this is a critical problem for you

[2021-04-07 13:48] #185 closed

[2021-04-07 14:10] lgarvey commented on #185
Is there a way to work around the issue?

On Wed, 7 Apr 2021 at 14:49, Sophie Wigmore ***@***.***>
wrote:

[2021-04-11 22:04] cf-buildpacks-eng opened #290 "**Release:** python-buildpack 1.7.37"
**Dependency Changes:**

[code]

**New Commits on Develop**:

None

Refer to [release instructions](https://docs.cloudfoundry.org/buildpacks/releasing_a_new_buildpack_version.html).

[2021-04-17 00:46] #290 closed

[2021-04-18 22:02] cf-buildpacks-eng opened #291 "**Release:** python-buildpack 1.7.38"
**Dependency Changes:**

[code]

**New Commits on Develop**:

None

Refer to [release instructions](https://docs.cloudfoundry.org/buildpacks/releasing_a_new_buildpack_version.html).

[2021-04-19 21:49] #291 closed

[2021-04-26 13:44] cf-buildpacks-eng opened #305 "**Release:** python-buildpack 1.7.38"
**Dependency Changes:**

[code]

**New Commits on Develop**:

0232230b Update libbuildpack

Refer to [release instructions](https://docs.cloudfoundry.org/buildpacks/releasing_a_new_buildpack_version.html).

[2021-05-02 22:03] cf-buildpacks-eng opened #306 "**Release:** python-buildpack 1.7.38"
**Dependency Changes:**

[code]

**New Commits on Develop**:

c7b74cc8 Update libbuildpack
d9950459 Update libbuildpack
0232230b Update libbuildpack

Refer to [release instructions](https://docs.cloudfoundry.org/buildpacks/releasing_a_new_buildpack_version.html).

[2021-05-04 18:43] rakeshn1 opened #309 "Unable to install a dependency(fbprophet) in cf through conda"
What version of Cloud Foundry and CF CLI are you using? (i.e. What is the output of running `cf curl /v2/info && cf version`?
{
   "name": "IBM Cloud",
   "build": "v16.11.0",
   "support": "http://ibm.biz/bluemix-supportinfo",
   "version": 0,
   "description": "IBM Bluemix",
   "authorization_endpoint": "https://iam.cloud.ibm.com/cloudfoundry/login/us-south",
   "token_endpoint": "https://uaa.us

[2021-05-06 15:04] #306 closed

[2021-05-07 13:31] robertofalk commented on #172
almost one year ago and not even comments on this.

[2021-05-09 22:03] cf-buildpacks-eng opened #312 "**Release:** python-buildpack 1.7.39"
**Dependency Changes:**

[code]

**New Commits on Develop**:

75821d91 Auto merge pull request 311
1bcdc858 Add setuptools 56.2.0, remove setuptools 56.1.0
92158cc7 Update libbuildpack

Refer to [release instructions](https://docs.cloudfoundry.org/buildpacks/releasing_a_new_buildpack_version.html).

[2021-05-10 04:33] eruvanos commented on #165
As a workaround I recommend to add a `requirements.txt` file with
[code]
in it.

[2021-05-12 17:47] #312 closed

[2021-05-16 22:04] cf-buildpacks-eng opened #313 "**Release:** python-buildpack 1.7.40"
**Dependency Changes:**

[code]

**New Commits on Develop**:

None

Refer to [release instructions](https://docs.cloudfoundry.org/buildpacks/releasing_a_new_buildpack_version.html).

[2021-05-18 19:08] arjun024 commented on #313
No changes. No release.

[2021-05-18 19:08] #313 closed

[2021-05-21 23:12] alexquitiaquez opened #314 "Pushing Flask applications is failing with error msg : Unable to rewrite she-bangs: open ..../pip-grep: text file busy"
#### What version of Cloud Foundry and CF CLI are you using? (i.e. What is the output of running `cf curl /v2/info && cf version`?
Tested with CF CLI versions 6.53.0 ans 6.52.0

#### What version of the buildpack you are using?

Tested in buildpack versions v1.7.29, v1.7.30 and v1.7.39

#### If you were attempting to accomplish a task, what was it you were attempting to do?

We were trying to push

[2021-05-23 22:02] cf-buildpacks-eng opened #316 "**Release:** python-buildpack 1.7.40"
**Dependency Changes:**

[code]

**New Commits on Develop**:

ec8b902c Auto merge pull request 315
d094912a Add setuptools 57.0.0, remove setuptools 56.2.0
d716e00f Re-bootstraps with github-config
fce52a7d Bootstrap with github-config
1cf0eb14 Update libbuildpack

Refer to [release instructions](https://docs.cloudfoundry.org/buildpacks/releasing_a_new_buildpack_version.html).

[2021-05-24 18:12] fg-j opened #317 "Install a newer version of miniconda"
There are three versions of miniconda [included in the buildpack manifest](https://github.com/cloudfoundry/python-buildpack/blob/aba9d4ed6f1ae45d053b7210bede4c065372ae6d/manifest.yml#L44-L66). However, the buildpack only ever [installs the `miniconda3` version](https://github.com/cloudfoundry/python-buildpack/blob/aba9d4ed6f1ae45d053b7210bede4c065372ae6d/src/python/conda/conda.go#L54).

While it m

[2021-05-24 18:14] fg-j commented on #316
Note: Build pipelines are red due to #317

[2021-05-25 14:30] jjghali commented on #314
I have the same issue as @alexquitiaquez. I had to downgrade to v1.7.26 of the buildpack in order to be able to use it.

[2021-05-25 17:59] fg-j commented on #317
This was resolved in [this commit](https://github.com/cloudfoundry/python-buildpack/commit/8c03edf4adf633375ec122177349328391c7e3d0)

[2021-05-25 17:59] #317 closed

[2021-05-30 22:03] cf-buildpacks-eng opened #323 "**Release:** python-buildpack 1.7.41"
**Dependency Changes:**

[code]

**New Commits on Develop**:

a234bb0f Auto merge pull request 322
64ba4c7b Add pipenv 2021.5.29, remove pipenv 2020.11.15

Refer to [release instructions](https://docs.cloudfoundry.org/buildpacks/releasing_a_new_buildpack_version.html).

[2021-06-01 13:28] ukabu commented on #314
It seems that only the python buildpack make this kind of she-bang modification. I think it would be better to skip that step. But it may be a breaking change for a number of deployements, so I guess it is going to stay there.

I would suggest to make the change in a safer way, by moving the original file first, then writing the modified one.

Maybe a better way yet, would be to install package on

[2021-06-01 16:29] #316 closed

[2021-06-03 20:53] #323 closed

[2021-06-06 22:03] cf-buildpacks-eng opened #327 "**Release:** python-buildpack 1.7.42"
**Dependency Changes:**

[code]

**New Commits on Develop**:

None

Refer to [release instructions](https://docs.cloudfoundry.org/buildpacks/releasing_a_new_buildpack_version.html).

[2021-06-11 18:10] arjun024 commented on #327
No changes. Closing.

[2021-06-11 18:10] #327 closed

[2021-06-13 22:03] cf-buildpacks-eng opened #330 "**Release:** python-buildpack 1.7.42"
**Dependency Changes:**

[code]

**New Commits on Develop**:

4b2da7c2 Merge pull request #321 from cloudfoundry/automation/github-config/update
2e177f24 Updating github-config
4838a529 Update libbuildpack
f8addf91 Update libbuildpack
5f46fbe7 Update libbuildpack
8adc6a08 Updating github-config

Refer to [release instructions](https://docs.cloudfoundry.org/buildpacks/releasing_a_new_buildpack_vers

[2021-06-14 16:02] AccraZed commented on #330
released

[2021-06-14 16:02] #330 closed

[2021-06-16 14:45] #305 closed

[2021-06-20 22:01] cf-buildpacks-eng opened #333 "**Release:** python-buildpack 1.7.43"
**Dependency Changes:**

[code]

**New Commits on Develop**:

059d8adb Merge pull request #332 from cloudfoundry/automation/github-config/update
d1b42ef5 Updating github-config
81c74d2a Update libbuildpack
5d6debc3 update mock due to strict validation on mock 1.6

Refer to [release instructions](https://docs.cloudfoundry.org/buildpacks/releasing_a_new_buildpack_version.html).

[2021-06-24 15:29] cf-buildpacks-eng opened #334 "**Release:** python-buildpack 1.7.43"
**Dependency Changes:**

[code]

**New Commits on Develop**:

059d8adb Merge pull request #332 from cloudfoundry/automation/github-config/update
d1b42ef5 Updating github-config
81c74d2a Update libbuildpack
5d6debc3 update mock due to strict validation on mock 1.6

Refer to [release instructions](https://docs.cloudfoundry.org/buildpacks/releasing_a_new_buildpack_version.html).

[2021-06-24 15:29] #334 closed

[2021-06-27 22:03] cf-buildpacks-eng opened #335 "**Release:** python-buildpack 1.7.43"
**Dependency Changes:**

[code]

**New Commits on Develop**:

d8bb3d49 Increased disk quota for with_appdynamics_test app
059d8adb Merge pull request #332 from cloudfoundry/automation/github-config/update
d1b42ef5 Updating github-config
81c74d2a Update libbuildpack
5d6debc3 update mock due to strict validation on mock 1.6

Refer to [release instructions](https://docs.cloudfoundry.org/buildpacks/re

[2021-06-28 16:02] #333 closed

[2021-06-28 17:05] #335 closed

[2021-07-04 22:05] cf-buildpacks-eng opened #344 "**Release:** python-buildpack 1.7.43"
**Dependency Changes:**

[code]

**New Commits on Develop**:

eace6883 Merge pull request #343 from cloudfoundry/automation/github-config/update
c845c3b2 Updating github-config
fb3520db Updating github-config
34f747cf Merge pull request #342 from cloudfoundry/automation/github-config/update
d66f4e05 Updating github-config
8aedc616 Auto merge pull request 341
ce07c0e5 Add python 3.6.14, remove pyth

[2021-07-09 18:01] arjun024 commented on #344
Released

[2021-07-09 18:01] #344 closed

[2021-07-11 22:04] cf-buildpacks-eng opened #349 "**Release:** python-buildpack 1.7.44"
**Dependency Changes:**

[code]

**New Commits on Develop**:

None

Refer to [release instructions](https://docs.cloudfoundry.org/buildpacks/releasing_a_new_buildpack_version.html).

[2021-07-13 16:44] cf-buildpacks-eng opened #352 "**Release:** python-buildpack 1.7.44"
**Dependency Changes:**

[code]

**New Commits on Develop**:

336ff5b1 Updating github-config
3012190f Update libbuildpack

Refer to [release instructions](https://docs.cloudfoundry.org/buildpacks/releasing_a_new_buildpack_version.html).

[2021-07-13 18:26] #352 closed

[2021-07-14 19:02] arjun024 commented on #349
duplicate of #352

[2021-07-14 19:02] #349 closed

[2021-07-18 22:05] cf-buildpacks-eng opened #359 "**Release:** python-buildpack 1.7.44"
**Dependency Changes:**

[code]

**New Commits on Develop**:

0855087d Auto merge pull request 358
5ffcb717 Add setuptools 57.3.0, remove setuptools 57.2.0
ab8dbdb6 Update libbuildpack
ec5b1739 Updating github-config
b0ed60a8 Updating github-config
2c943c2b Auto merge pull request 355
ac64c79d Add setuptools 57.2.0, remove setuptools 57.1.0
336ff5b1 Updating github-config
3012190f Update libbuildp

[2021-07-19 19:19] cf-buildpacks-eng opened #361 "**Release:** python-buildpack 1.7.44"
**Dependency Changes:**

[code]

**New Commits on Develop**:

8b983236 Auto merge pull request 360
ee339c51 Add setuptools 57.4.0, remove setuptools 57.3.0
0855087d Auto merge pull request 358
5ffcb717 Add setuptools 57.3.0, remove setuptools 57.2.0
ab8dbdb6 Update libbuildpack
ec5b1739 Updating github-config
b0ed60a8 Updating github-config
2c943c2b Auto merge pull request 355
ac64c79d Add setupto

[2021-07-19 21:51] bhh1893 opened #362 "IMPORTANT NOTICE: [python-buildpack] Deprecation Notice Policy Changes"
Attention Buildpacks users:

The Buildpacks team will no longer provide notices regarding the deprecation or removal of buildpack dependencies effective 30 days from the date of this notice.

Information about buildpacks and their dependencies (including dependency deprecation dates) can now be found at: https://buildpacks.cloudfoundry.org/#/buildpacks

As part of this change, version lines of bui

[2021-07-20 18:18] AccraZed commented on #361
Release cut and pushed. Closing.

[2021-07-20 18:18] #361 closed

[2021-07-29 19:38] abelcastillopersonal opened #365 "deployment using zip file for path is not installing dependencies specified in requirements.txt file"
## What version of Cloud Foundry and CF CLI are you using? (i.e. What is the output of running `cf curl /v2/info && cf version`?
Application service build: 2.7.20-build.6
cli version: 6.53

## What version of the buildpack you are using?
1.7.16

## If you were attempting to accomplish a task, what was it you were attempting to do?

I was attempting to push an Flask app to a PCF instance from a zip

[2021-07-30 11:58] abelcastillopersonal commented on #365
Digging deeper, this was an error on my part, my zip file was not properly formed. Closing.

[2021-07-30 11:58] #365 closed

[2021-08-10 20:53] arjun024 commented on #309
It looks like `fbprophet` is not a standard conda package, and rather present in `conda-forge`. See https://anaconda.org/conda-forge/fbprophet
You should be able set the conda-forge channel in your `enviroment.yml` as follows to get it installed:
[code]

[2021-08-10 20:58] #309 closed

[2021-08-11 15:50] arjun024 commented on #243
Not familiar with poetry, can you include a sample app/your generated `requirements.txt` so that we can take a look?

[2021-08-18 19:57] cf-buildpacks-eng opened #368 "**Release:** python-buildpack 1.7.45"
**Dependency Changes:**

[code]

**New Commits on Develop**:

d5806046 Bump github.com/Dynatrace/libbuildpack-dynatrace from 1.3.0 to 1.4.1
93eb8e49 Updating github-config
15cad46f Adds github-token for integration suite
b3e8c9aa Update libbuildpack
d8156518 Auto merge pull request 364
6f35722b Add miniconda37 4.10.3
54c2be09 Auto merge pull request 363
db6a9265 Add miniconda38 4.10.3

Refer to [r

[2021-08-23 17:58] #368 closed

[2021-09-07 22:19] menehune23 commented on #252
Hi @dilu24x7, closing this issue as stale. Please feel free to reopen with detailed reproduction steps if you'd like further help with this.

[2021-09-07 22:19] #252 closed

[2021-09-07 22:41] menehune23 commented on #171
Hi @mhaas, is this still an issue for you? @jhmcstanton, if you have a PR, we'd be happy to take a look.

I'll also see if I can rope in the most recent maintainers of this repo to provide some input. @shanks3012, who would be best to make a call here? This issue has been pending for quite some time, so it would be good to address it if it's still a problem.

[2021-09-07 23:05] menehune23 commented on #245
@TYsewyn I looked at the PR and it looks to be pretty much complete. I'm seeing if I can get a buildpack maintainer to sign off on it and merge it.

[2021-09-07 23:19] menehune23 commented on #239
@chrismasonthom-co, thanks for posting and apologies for the late response. Most new feature development is focused on the [Paketo Python buildpack](https://github.com/paketo-buildpacks/python), so you may want to post an issue there, while trying out that buildpack in your workflow.

I'll close this issue, but here are some options if you'd like to stick with this buildpack:
- Fork this buildpack

[2021-09-07 23:19] #239 closed

[2021-09-07 23:29] menehune23 commented on #259
Hey @arjun024, is this still an issue that needs addressing in this buildpack? (vs the newer [Paketo buildpack](https://github.com/paketo-buildpacks/python)). I'll close this as it's a few months old, but feel free to reopen if necessary.

[2021-09-07 23:29] #259 closed

[2021-09-07 23:58] menehune23 commented on #165
@zdog234 I'm closing this issue as it's not likely to be done by our team for the CF buildpack (due to the focus on the [Paketo Python buildpack](https://github.com/paketo-buildpacks/python)). That said, we'd be happy to take a look at a PR for this repo if you'd like to have a whack at it.

[2021-09-07 23:58] #165 closed

[2021-09-08 17:18] menehune23 commented on #243
@igormcsouza Are you still having issues with this? The issue looks to be with your generated requirements, as your logs reference a local directory `file:///C:/Users/Igor_Chagas/`.

I'm going to close this for now, but if you find that there is still some issue with the buildpack, feel free to reopen. If you do so, be sure to include a link to a minimal repo that reproduces the issue, along with

[2021-09-08 17:18] #243 closed

[2021-09-08 17:23] menehune23 commented on #206
@praful-dhabekar I'm closing this issue as stale. Please feel free to reopen if this is still a problem and you've narrowed it down to the buildpack itself. If you do so, please include a link to a minimal app repo that reproduces the problem you're seeing.

[2021-09-08 17:23] #206 closed

[2021-09-08 18:43] sophiewigmore commented on #171
It's worth pointing out that we have been investing efforts in to the Paketo Python buildpacks, and came up against a similar issue on the Paketo Pip buildpack: https://github.com/paketo-buildpacks/pip/issues/111. The recourse was to get `wheel` and `setuptools` into the container, and it works.

I expect a similar approach would work here as well, although it's not a priority for us to include he

[2021-09-08 19:06] sophiewigmore commented on #172
@mhaas Apologies for the lack of response here, as mentioned in https://github.com/paketo-buildpacks/pip/issues/2, we focused a lot of efforts into making the

[2021-09-08 20:57] sophiewigmore commented on #172
Hi there @mhaas, I sincerely apologize for the lack of response here. Is this something you are still interested in? As noted in https://github.com/paketo-buildpacks/pip/issues/2, our attention has been diverted to the Python CNB which is now officially supported.

I think that you make a good point here about the use case, and might be willing to look into this if it's something that you're activ

[2021-09-08 22:28] menehune23 commented on #314
@alexquitiaquez Thanks for reporting this. I'll see if I can reproduce it with the code you provided.

I know it's been a couple of months since you posted this. We're heavily focused on the newer container-centric [Paketo Python buildpack](https://github.com/paketo-buildpacks/python), so if you happen to have a workaround or solution by now that you'd be interested in PRing into this repo, we'd b

[2021-09-08 23:17] menehune23 commented on #314
@alexquitiaquez I `cf push`ed the code you provided, in combination with the latest buildpack (`v1.7.45`), and the app stages successfully. I'm able to open it in a browser and get a "Hello, World" response.

I'll close this for now as it seems to be resolved by the latest buildpack, but feel free to reopen if that's not your experience.

For reference:

`cf curl /v2/info && cf version`:
[code]

[2021-09-08 23:17] #314 closed

[2021-09-10 19:14] cf-buildpacks-eng opened #386 "**Release:** python-buildpack 1.7.46"
**Dependency Changes:**

[code]

**New Commits on Develop**:

85190895 Updating github-config
3f453280 Updating github-config
90fcc863 Updating github-config
4f31f8f2 Updating github-config
83fd53b9 Updating github-config
41233701 Updating github-config
7398ec62 Adds platform flag for integration suite
1ffa8b2c Auto merge pull request 383
32cc5547 Add setuptools 58.0.4, remove setuptools 58.0.3
92

[2021-09-13 15:06] mhaas commented on #171
Hi @menehune23,

thanks for bringing this issue back :)

Yes, this is still an issue for me. I just validated with the buildpack taken straight from Github. See my POC here: https://github.com/mhaas/cf-pep517-repro

I believe that adding `wheel` and `setuptools` package will be a great improvement if you would like to continue using `--build-isolation`. I still feel obligated to point out here tha

[2021-09-13 15:16] mhaas commented on #172
Hi @sophiewigmore, yes, this is absolutely something that I would like to see.

To state my current case:

* Newer pip has a much improved dependency resolution algorithm. I was just debugging an issue earlier with pip 20.1.1 (current default in the buildpack for Python 3.7) which simply does not exist in later pip versions.
* There is again a new Python standard related to packaging: [PEP-600](ht

[2021-09-20 00:36] sophiewigmore commented on #172
@mhaas Thank you for getting back to us! We can look into this, and I will keep you updated.

[2021-09-28 20:50] #386 closed

[2021-09-30 21:15] menehune23 commented on #171
Thanks for the POC @mhaas. I'll check it out and also see if I can get this issue into our backlog for upcoming work. I think at the very least, we can investigate adding `wheel` and `setuptools`. The use of `--build-isolation` might need some more thought.

[2021-09-30 21:37] menehune23 commented on #171
@mhaas this is really interesting. A colleague @arjun024 dug up a [commit where we added wheel explicitly](https://github.com/cloudfoundry/python-buildpack/commit/a8ee55f7270c4642e2ff9dab3bc922b4788494b1) to `requirements.txt` in a test fixture. This seems to go against what I understood about the `--no-build-isolation` flag though. Looking into it...

[2021-09-30 23:19] menehune23 commented on #359
Closing, as this has been released for some time (@arjun024 correct me if we need this open for some reason)

[2021-09-30 23:19] #359 closed

[2021-10-01 00:00] menehune23 commented on #171
I ran the integration test using the `no_build_isolation` fixture, and I can confirm that it's using the `--no-build-isolation` flag in the staging logs:

[code]

I also see messages similar to the following:

[code]

I get the above message whether or not I comment out the application of the `--no-build-isolation` flag in the buildpack code. I'm pretty confused, as `wheel` is vendored in that tes

[2021-10-01 00:08] menehune23 commented on #171
Added `alembic==1.4.2` to the requirements and still not having any trouble staging the app:

[code]

Can anyone illuminate what I might be missing? I'll try again but remove the vendored `wheel` package.

[2021-10-01 00:15] menehune23 commented on #171
Actually, the fuller logs are:

[code]

So it looks like it might be falling back to the same behavior that @mhaas mentioned in the original post:

[2021-10-01 00:17] menehune23 commented on #171
This is a difficult case to reproduce exactly, but I'm still convinced that we should just add `wheel` and `setuptools` to the python packages for this buildpack to ensure a better experience than what we have now.

[2021-10-04 18:44] cf-buildpacks-eng opened #393 "**Release:** python-buildpack 1.7.47"
**Dependency Changes:**

[code]

**New Commits on Develop**:

bc3c1f1a Auto merge pull request 392
6b6fcac7 Add setuptools 58.2.0, remove setuptools 58.1.0

Refer to [release instructions](https://docs.cloudfoundry.org/buildpacks/releasing_a_new_buildpack_version.html).

[2021-10-11 21:46] menehune23 commented on #171
In any case @mhaas, we actually build `setuptools` and `wheel` into our pip dependency for the [Paketo Python buildpack](https://github.com/paketo-buildpacks/python) (the pip sub-buildpack to be specific). So we'll resolve this issue by playing https://github.com/cloudfoundry/python-buildpack/issues/172 and pulling pip into this buildpack.

[2021-10-19 16:26] #172 closed

[2021-12-10 22:56] menehune23 commented on #245
Closing this and associated PR #246 as stale. Feel free to reopen if needed.

[2021-12-10 22:56] #245 closed

[2022-01-04 09:03] ChrisDelClea opened #449 "Question Buildpack"
What version of Cloud Foundry and CF CLI are you using? (i.e. What is the output of running `cf curl /v2/info && cf version`?

What version of the buildpack you are using?

If you were attempting to accomplish a task, what was it you were attempting to do?

I want to install dependencies from both, pypi and with mini conda.

What did you expect to happen?

That i can use both by defining a manifes

[2022-02-24 16:02] brayanhenao commented on #449
@ChrisDelClea Could you please provide the example application you used in order to reproduce the error?

[2022-03-14 09:15] yogananda-muthaiah opened #479 "Requirements.in is missing in feature"
How about requirements.in instead of requirements.txt ??

Currently this feature is missing during cf push <app name> or manifest

More info you can find it through https://medium.com/@ramalhodevitor/abandon-requirements-txt-for-managing-dependencies-in-python-immediately-50b1c45b824a

[2022-05-04 11:55] vanschelven opened #508 "FindAnyPackage broken for recursively defined requirements"
Since #468 determining whether Django is used, and hence whether `collectstatic` should be run, is broken.

Looking at the code:

* https://github.com/cloudfoundry/python-buildpack/blob/9697db74d02ff5c434dcc239724f745342374f63/src/python/finalize/finalize.go#L78 this is where the choice to run collectstatic or not is made
* https://github.com/cloudfoundry/python-buildpack/blob/9697db74d02ff5c434dc

[2022-05-04 13:30] #508 closed

[2022-05-19 03:36] aimengda opened #526 "Adding odbc driver in python buildpack"
Is there any possibility to add ODBC driver to the build pack because most of the python projects rely on the driver to connect to database.

[2022-05-26 17:57] arjun024 commented on #526
I believer ODBC driver is already part of the rootfs.
See https://github.com/cloudfoundry/cflinuxfs3/blob/0.301.0/receipt.cflinuxfs3.x86_64

[code]

Are you facing any problems?

[2022-05-29 02:39] aimengda commented on #526
I believe unixODBC is a driver manager, but the driver is not there. I can't connect to MSSQL using pyodbc, the error message shows that it's related to the driver(Free TDS or MSSQL ODBC).

发件人：Arjun Sreedharan ***@***.***>
发送日期：2022-05-27 01:57:31
收件人：cloudfoundry/python-buildpack ***@***.***>
抄送人："王梦达" ***@***.***>,Author ***@***.***>
主题：Re: [cloudfoundry/python-buildpack] Adding odbc driver in

[2022-06-01 12:41] aimengda commented on #526
I'm using Django framework and the code is like MS sample code: https://github.com/Azure/azure-sql-database-samples/tree/master/django/django-pyodbc-azure, and the error I got is
![image](https://user-images.githubusercontent.com/37826258/171406706-28a9c061-f63c-45af-854d-8983cb25ece6.png)

[2022-06-01 16:27] arjun024 commented on #526
From the given info, it looks like your app has a perquisite on FreeTDS which supplies the ODBC Driver for SQL Server on Linux.
I have a few options that you can try:

* Use the **experimental** [apt-buildpack](https://github.com/cloudfoundry/apt-buildpack) to install the prerequisites. Note that apt-buildpack is a no-guarantees buildpack and works only for installing simple packages.
* Create a c

[2022-06-04 08:38] aimengda commented on #526
Pushing the driver with app and set it up in a customize start bash file solved my problem, thanks.

From: Arjun Sreedharan ***@***.***>
Date: 2022-06-02 00:27:36
To: cloudfoundry/python-buildpack ***@***.***>
Cc: "王梦达" ***@***.***>,Author ***@***.***>
Subject: Re: [cloudfoundry/python-buildpack] Adding odbc driver in python buildpack (Issue #526)

From the given info, it looks like your app has a

[2022-07-07 05:17] #526 closed

[2022-07-07 05:18] aimengda commented on #526
Issue resolved, thanks.

[2022-08-22 14:46] sunny-repo88 opened #574 "python3.8.12 - fatal error: Python.h: No such file or directory"
What version of Cloud Foundry and CF CLI are you using? (i.e. What is the output of running `cf curl /v2/info && cf version`?
`cf8.exe version 8.2.0+fd8fbca64.2022-02-09
`

What version of the buildpack you are using?
`https://github.com/cloudfoundry/python-buildpack#v1.7.49
`

What did you expect to happen?
`Install xmlsec succesfully in  python 3.8.12 - https://github.com/mehcode/python-xmlsec`

[2022-08-22 15:28] arjun024 commented on #574
From a super quick look, it looks like not an issue with the python buildpack, but the [apt-buildpack](https://github.com/cloudfoundry/apt-buildpack) not meeting your expectations.

I can take a look but I want to remind you that APT buildpack is an experimental buildpack expected to only work for very simple packages (e.g., a single shared lib with no data)

[2022-08-22 17:05] amhuber commented on #574
We are also seeing this on our environments.  We haven't figured out what changed yet, but apps that were previously deploying are now getting this error, and the apt.yml packages were set up correctly to support compilation of xmlsec.

[2022-08-22 18:53] amhuber commented on #574
The compilation does work on Python 3.6, but any version after that is broken.  Steps to reproduce using https://github.com/cloudfoundry/cf-acceptance-tests/tree/develop/assets/python with the following modifications:

**apt.yml**

    ---
    packages:
    - libxml2-dev
    - libxmlsec1-dev
    - libxmlsec1-openssl

**requirements.txt**

    xmlsec

**runtime.txt**

    python-3.6.x

Push with an

[2022-08-23 01:52] sunny-repo88 commented on #574
@arjun024 , thanks for quick response. I have another example without using apt buildpack

Steps to reproduce:
[code]

Behaviour:
[code]

**We are able to install both example in fresh new docker environment - python:3.8-buster**

![image](https://user-images.githubusercontent.com/30856837/186050920-26d28219-bcdb-49af-997e-d8b84a4e8a1a.png)

[2022-08-23 09:30] risicle commented on #574
Hi, FWIW we also have two separate tenants having similar problems who "changed nothing" and now their native extensions won't build, not being able to find `Python.h`. In these cases the packages are `pycurl` and `ciso8601`. Multiple recent python-buildpack versions tried. Python 3.7 & 3.9.

Last known successful build was on the 17th Aug.

[2022-08-23 10:17] a09-capf commented on #574
I face the same issue.
I use Python 3.8.10 & psycopg2 2.9.3 and "changed nothing" since 8th Aug.

[2022-08-23 11:06] Deviaruna commented on #574
Hi All,
We were facing the same issue in multiple projects. One of our colleague has figured out the reason behind the crash.
One transient package upgraded i.e. setuptools from 65.1 to 65.2 version. If you could downgrade setuptools to 65.1.0, that would work.
Thanks

[2022-08-23 12:08] rjbaker commented on #574
We build `pycurl` from source during the droplet build and started encountering errors with `Python.h` not being found.

I've also managed to work around this by pinning `setuptools==65.1.1` thanks to @Deviaruna.

Oddly our last successful droplet build on 17th August installed setuptools 65.0.2 as a transient package. Only explicitly pinning setuptools now produces a successful build.

[2022-08-23 14:57] sunny-repo88 commented on #574
By pinning `setuptools==65.1.1`. I am to build  `psycopg2`  from source.
But still seeing same issue on 'xmlsec'.

I dont think setuptools is the main cause of this issue.
As stated in,
https://github.com/cloudfoundry/python-buildpack/blob/master/manifest.yml#L130

setuptools  v63.4.2 was used in latest buildpack. is far behind than 65.2.0

@arjun024 , let me know if i am pointing to the wrong fil

[2022-08-23 15:28] arjun024 commented on #574
Like @Deviaruna said, this issue seems to be caused by a setuptools version downloaded as a transitive dependency by users' direct dependencies (e.g. psycopg2), and not due to a dependency provided by the buildpack. For the same app, I can see this same issue occurring while using an older version. I'm not sure buildpacks have control over it though I can look into it if there's something we can d

[2022-08-23 16:48] amhuber commented on #574
Keeping setuptools permanently pinned to an old version isn't going to work forever.  I'm hoping there are some updates that can be made to the buildpack to adjust to whatever setuptools is expecting.  It looks like https://github.com/heroku/heroku-buildpack-python/commit/b2dfe7397bf2f57b70799954277dd01a9c034432 might be related.

[2022-08-23 19:38] mrogaski commented on #574
It affects krb5 0.3.0, too.  That project only moved to pyproject.toml in 0.4.0.

[2022-08-24 07:46] amhuber commented on #574
Exactly, it's not the customer code using a `pyproject.toml` file that is the issue, it's when the package being installed does, and obviously customers have no control over that.

[2022-08-24 12:50] robdimsdale commented on #574
@mrogaski @amhuber yes, agreed. We believe that when an application depends on a project that uses [PEP-517 Build Isoloation](https://peps.python.org/pep-0517/) - like `krb5` has done since its creation - and that project has a build-dependency on `setuptools` without an upper limit (like `krb5`) then the latest version of `setuptools` (i.e. `65.2.0`) is downloaded and we observe the same issue as

[2022-08-24 14:50] robdimsdale commented on #574
We are able to reproduce the underlying issue a few different ways, and we have a fix for the root case on the `develop` branch.

You can try this out by using the `develop` branch while pushing your app:

[code]

Please try this out and let us know if it works (or doesn't work).

We expect to release a new version of the buildpack shortly, but any feedback before then would be welcome.

[2022-08-24 15:57] amhuber commented on #574
I can confirm that xmlsec now compiles correctly using the repro steps above.  Thanks for the quick fix!

[2022-08-24 23:43] sunny-repo88 commented on #574
Confirmed. Issue resolved in https://github.com/cloudfoundry/python-buildpack/releases/tag/v1.7.58.

Thanks to the team!

[2022-08-25 14:09] robdimsdale commented on #574
Yes, as @sunny-repo88 highlights, we have shipped https://github.com/cloudfoundry/python-buildpack/releases/tag/v1.7.58 with a fix for the underlying issue.

There should be no reason to continue pinning `setuptools=65.1.1` in application dependencies - we should once again be able to support the latest version of `setuptools`.

Thank you everyone for your patience, and for your help in diagnosing

[2022-08-25 14:56] arjun024 commented on #574
Regarding `mercurial` pre-installation, it looks that step came in to the python CF buildpack via its forking of the original heroku buildpack. Since then it looks like they removed it in 2020 https://github.com/heroku/heroku-buildpack-python/pull/1111/

Pip documentation ([link](https://pip.pypa.io/en/latest/topics/vcs-support)) just states that it requires a working executable to be available, w

[2022-08-26 19:06] arjun024 commented on #574
I'm closing this issue with the release of v1.7.58. If you're still facing the same issue, please feel free to reopen with logs & a sample app.

[2022-08-26 19:06] #574 closed

[2022-10-02 20:07] vanschelven opened #612 "Document what version of glibc python-buildpack uses"
AFAICT the glibc version that python-buildpack uses is currently undocumented.

This matters, because the glibc version determines which "many linux" wheels can be used when vendoring wheels. E.g. for the current version of cryptography multiple manylinux wheels are available, but not all of them will be useable in a current python-buildpack:

* cryptography-38.0.1-pp39-pypy39_pp73-manylinux_2_28_

[2022-10-05 18:53] vanschelven commented on #612
I'm not quite sure what that means for me as the user of any given buildpack though... where do the various parts of this "stack" get assembled? And if I were to e.g think that the `glibc` was outdated and should be upgraded to be of practical use, to whom should that remark be directed?

[2022-10-05 22:20] robdimsdale commented on #612
In order to use a Cloud Foundry buildpack, you must also be using a stack. Assuming that you are using this buildpack from within a Cloud Foundry installation, whomever manages that Cloud Foundry installation is responsible for keeping the stack up to date. You can check the info for installed stacks on a given installation with the CF CLI command: `cf stacks`.

If you think any packages in the st

[2022-10-06 09:35] vanschelven commented on #612
Thanks, that does indeed clear up. As I see it now, it's not the local (to me) stack that is out of date (for some definition of "out of date") but the global one: https://github.com/cloudfoundry/cflinuxfs3-release/blob/72818be6b49427e6dbbd8a439d6841001e1dd00c/manifests/manifest.yml#L93 points to Ubuntu 18.04

The definition of "out of date" that I'm using here is the one I alluded to in the origi

[2022-10-06 13:53] robdimsdale commented on #612
Ok, there's a couple more things.

Firstly, what you linked to was the **stemcell** version, not the **stack** version. In the link you pointed to, they happen to be the same version of Ubuntu, but there is an important distinction. The stemcell is the base image for the virtual machine for Cloud Foundry components, and the stack is the base image for applications. In order to upload a stack to Cl

[2022-10-06 19:00] vanschelven commented on #612
With the information above I'm able to proceed to tackle the relevant issues... perhaps the same will hold for future visitors of this page. Anyway, closing the issue.

[2022-10-06 19:00] #612 closed

[2022-10-10 17:32] Dillon-Based opened #620 "Pip is configured with locations that require TLS/SSL, however the ssl module in Python is not available"
What version of Cloud Foundry and CF CLI are you using? (i.e. What is the output of running `cf curl /v2/info && cf version`?
{
   "name": "",
   "build": "",
   "support": "",
   "version": 0,
   "description": "",
   "authorization_endpoint": "***",
   "token_endpoint": "***",
   "min_cli_version": null,
   "min_recommended_cli_version": null,
   "app_ssh_endpoint": "***",
   "app_ssh_host_key_f

[2022-10-13 22:28] robdimsdale commented on #620
Hi @Dillon-Based - what stack are you using? You can check this with `cf stacks`.

[2022-10-18 20:52] Dillon-Based commented on #620
Hi, thanks @robdimsdale it looks like we're on cflinuxfs3

[2022-10-18 20:56] Dillon-Based commented on #620
@bnitz918 I mentioned this

[2022-10-20 14:45] niiiitz commented on #620
cflinuxfs3
   Cloud Foundry Linux-based filesystem (Ubuntu 18.04)

[2022-10-25 13:18] robdimsdale commented on #620
Ok thanks.

I don't see any reason why Python 3.10 shouldn't work with Ubuntu 18.04 (Bionic), so let's try to narrow down the issue. I also can't reproduce this issue.

1. Have you successfully built this same app with this buildpack version, stack version, and python version before?
    * Have you successfully built _other_ apps with this buildpack, stack, and python version combination?
1. Have

[2022-10-25 13:18] robdimsdale commented on #620
Also can you share an example application to reproduce this issue with?

[2022-10-31 15:31] robdimsdale commented on #620
Ok that's helpful, thanks.

I'll try to reproduce this with Python 3.10 on cflinuxfs3.

Just FYI I don't think the version of the CF CLI is likely to be causing any issues.

[2022-11-29 20:14] arjun024 commented on #620
I have tried to reproduce the issue with the given `requirements.txt` but I do not get any staging errors. (Tried with cf cli v7 as well as v6).

Used this app https://github.com/cloudfoundry/python-buildpack/tree/v1.8.3/fixtures/django_python_3 and added in the given `requirements.txt`, with `runtime.txt` reading `python-3.10.x`. Staging goes fine with Python 3.10 picked up.

If you can provide a